*{
    box-sizing: border-box;
}
.form{
    width: 360px;
    margin-left: 40px;
}

.page-link {
    display: block;
    margin-bottom: 50px;
}

.form > label{
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.form > label > input{
    height: 40px;
    padding: 0 8px;
    border: 1px solid #808080;
        border-radius: 4px;
        width: 360px;
        height: 40px;
}

.form > label > input:hover{
    border-color: #000;
}

.form>label>input:active{
    border-color: #4e75ff;
}

fieldset{
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #808080;
}

fieldset:hover{
    border-color: #000;
}

legend{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

fieldset label { 
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #2e2f42;
}

button{
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background-color: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition-duration: 200ms;
}

button:hover{
    background-color: #6c8cff;
}